@import '../../../node_modules/@angular/material/_theming';

@include mat-core();

$dictio-primary: mat-palette($mat-light-blue);
$dictio-accent:  mat-palette($mat-indigo);
$dictio-warn:    mat-palette($mat-red);

$dictio-theme: mat-light-theme($dictio-primary, $dictio-accent, $dictio-warn);

@include angular-material-theme($dictio-theme);

@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Pacifico');

* {
    margin: 0px;
}

@import '../../../node_modules/materialize-css/sass/materialize.scss';

.dictio-primary {
    @extend .light-blue; 
    @extend .lighten-1;
}

.dictio-card {
    @extend .card;
    @extend .light-blue;
    @extend .lighten-5;

    .card-title {
        @extend .light-blue-text;
        @extend .text-darken-4;
    }
    
    .card-action {
        @extend .light-blue;
        @extend .lighten-3;
    }
}

#dictio-loading {
    @extend .dictio-primary;
    width: 100%; 
    height: 100%;
    padding-top: 50%; 
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
}

.dictio-form {
    background-color: md-color($dictio-primary, A700);
    color: white;
}

.dictio-tm {
    font-family: 'Pacifico', cursive;   
    font-weight: lighter;
}

.dictio-action-btn {
    @extend .btn-floating;
    @extend .btn-large;

    @extend .light-blue;
    @extend .lighten-3;
    @extend .z-depth-3;
}

.dictio-font {
    font-weight: 300;
}