@import '../../../node_modules/@angular/material/core/theming/all-theme';

$dictio-primary: md-palette($md-light-blue);
$dictio-accent:  md-palette($md-indigo);
$dictio-warn:    md-palette($md-red);

$dictio-theme: md-light-theme($dictio-primary, $dictio-accent, $dictio-warn);

@include angular-material-theme($dictio-theme);

@import url('https://fonts.googleapis.com/css?family=Pacifico|Roboto|Material+Icons');

* {
    margin: 0px;
    font-family: 'Roboto', sans-serif;
}

md-toolbar-row {
  justify-content: space-between;
}

#dictio-loading {
    background-color: #03A9F4; 
    width: 100%; 
    height: 100%;
    padding-top: 50%; 
    font-family: Arial, Helvetica, sans-serif; 
    color: white;
}

#dictio-footer {
    background-color: md-color($dictio-primary, A100);
    color: white;
    padding: 10px;
    text-align: center;
}

#dictio-title {
    font-family: 'Pacifico', cursive;
    font-size: 40px;
}

.dictio-form {
    background-color: md-color($dictio-primary, A700);
    color: white;
}