<md-card>
  <h2>Add a noun</h2>
  <div>
    <md-input-container [dividerColor]="(english.pristine || english.valid) ? 'primary' : 'warn'">
      <input 
        md-input
        type="text"
        [(ngModel)]="noun.english"
        #english="ngModel"
        required="true"
        placeholder="English">
      <md-hint *ngIf="!english.pristine && !english.valid" align="end">
        Must insert a word
      </md-hint>
    </md-input-container>
  </div>
  <div>
    <md-input-container [dividerColor]="(spanish.pristine || spanish.valid) ? 'primary' : 'warn'">
      <input 
        md-input
        type="text"
        [(ngModel)]="noun.spanish"
        #spanish="ngModel"
        required="true"
        placeholder="Spanish">
      <md-hint *ngIf="!spanish.pristine && !spanish.valid" align="end">
        Must insert a word
      </md-hint>
    </md-input-container>
  </div>
  <div>
    <md-radio-group [(ngModel)]="noun.gender">
      <md-radio-button [value]="Gender.Male">Male</md-radio-button>
      <md-radio-button [value]="Gender.Female">Female</md-radio-button>
    </md-radio-group>
  </div>
  <div>
    <md-checkbox [(ngModel)]="noun.favorite">Favorite</md-checkbox>
  </div>
  <div>
    <button md-raised-button 
      color="primary" 
      (click)="submit()"
      [disabled]="!spanish.valid || !english.valid">
      Submit
    </button>
  </div>
</md-card>