<md-card>
    <h1>Add a noun</h1>
      <div>
        <label>English</label>
        <input type="text" [(ngModel)]="english">
      </div>
      <div>
        <label>Spanish</label>
        <input type="text" [(ngModel)]="spanish">
      </div>
      <div>
        <label>Gender</label>
        <input type="radio" name="gender" [(ngModel)]="gender" value="0">Male
        <input type="radio" name="gender" [(ngModel)]="gender" value="1">Female
      </div>
      <div>
        <label>Favorite</label>
        <input type="checkbox" [(ngModel)]="favorite">
      </div>
      <button md-raised-button color="primary" (click)="submit()">Submit</button>
</md-card>