<md-card class="dictio-form">
  <h2>Add a verb</h2>
  <div>
    <md-input-container [dividerColor]="(englishInput.pristine || englishInput.valid) ? 'primary' : 'warn'">
      <input 
        md-input
        type="text"
        [(ngModel)]="english"
        #englishInput="ngModel"
        required="true"
        placeholder="English">
      <md-hint *ngIf="!englishInput.pristine && !englishInput.valid" align="end">
        Must insert a word
      </md-hint>
    </md-input-container>
  </div>
  <div>
    <md-input-container [dividerColor]="(spanishInput.pristine || spanishInput.valid) ? 'primary' : 'warn'">
      <input 
        md-input
        type="text"
        [(ngModel)]="spanish"
        #spanishInput="ngModel"
        required="true"
        placeholder="Spanish">
      <md-hint *ngIf="!spanishInput.pristine && !spanishInput.valid" align="end">
        Must insert a word
      </md-hint>
    </md-input-container>
  </div>
  <div>
    <button md-raised-button 
      color="primary" 
      (click)="submitAsync()"
      [disabled]="!spanishInput.valid || !englishInput.valid">
      Submit
    </button>
  </div>
</md-card>