.container.dictio-font
    h2 Conjunction Words
    .progress('*ngIf'='!members')
        .indeterminate
    div('*ngIf'='members')
        ul.collection
            li.collection-item('*ngFor'='let member of members')
                h5 {{member.spanish}}
                p.grey-text.text-darken-3 {{member.english}}
        br
        p {{members.length}} words

span('*ngIf'='tokenService.isAdmin()')
    a.dictio-action-btn.waves-effect.waves-light(
        style='position: fixed; bottom: 20px; right: 20px;'
        href='#form'
    )
        i.material-icons add
    add-conjunction-form