.container
    .row
        h2 View
    .row
        .col.s12
            a.btn.waves-effect.waves-light(href='#/nouns' style='width: 100%') Nouns
    .row
        .col.s12
            a.btn.waves-effect.waves-light(href='#/adjectives' style='width: 100%') Adjectives
    .row
        .col.s12
            a.btn.waves-effect.waves-light(href='#/verbs' style='width: 100%') Verbs
    .row
        .col.s12
            a.btn.waves-effect.waves-light(href='#/conjunctions' style='width: 100%') Conjunction Words