<md-sidenav-container>

  <md-sidenav #sidenav mode="side">
    <md-list (click)="sidenav.close()">
      <h3 md-subheader>Global</h3>
      <md-list-item routerLink="/">Home</md-list-item>
      <h3 md-subheader>View</h3>
      <md-list-item routerLink="/nouns">Nouns</md-list-item>
      <md-list-item routerLink="/adjectives">Adjectives</md-list-item>
      <md-list-item routerLink="/verbs">Verbs</md-list-item>
      <md-list-item routerLink="/conjunctions">Conjunction Words</md-list-item>
      <h3 md-subheader>General</h3>
      <md-list-item *ngIf="!tokenService.isLoggedIn()" routerLink="/login">Log in</md-list-item>
      <md-list-item *ngIf="tokenService.isLoggedIn()" (click)="tokenService.logout()">Log out</md-list-item>
    </md-list>
  </md-sidenav>

  <md-toolbar color="primary">
    <button md-icon-button (click)="sidenav.toggle()">
      <md-icon>menu</md-icon>
    </button>
    <span id="dictio-title" routerLink="">Dictio</span>
    <span class="dictio-spacer"></span>
    <span *ngIf="tokenService.isLoggedIn()">
      <button md-icon-button [mdMenuTriggerFor]="menu">
        <md-icon>more_vert</md-icon>
      </button>
      <md-menu #menu="mdMenu">
        <button md-menu-item (click)="tokenService.logout()">
          <md-icon>close</md-icon>
          <span>Log out</span>
        </button>
      </md-menu>
      {{utils.capitalizeString(tokenService.user.username)}}
    </span>
  </md-toolbar>

  <router-outlet></router-outlet>
  
  <div id="dictio-footer">
    <p routerLink="">index</p>
    <br/>
    <p *ngIf="!tokenService.isLoggedIn()" routerLink="/login">login</p>
    <p *ngIf="tokenService.isLoggedIn()" (click)="tokenService.logout()">logout</p>
  </div>
</md-sidenav-container>
