<div materialize>
  
  <ul id="menu" class="dropdown-content">
    <li><a href="#/logout"><i class="material-icons waves-effect waves-light">close</i>Log out</a></li>
  </ul>

  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <a class="brand-logo center dictio-tm" href="#">Dictio</a>
        <i *ngIf="tokenService.isLoggedIn()" 
            materialize="dropdown" 
            class="material-icons dropdown-button waves-effect waves-light right" 
            data-activates="menu">
            more_vert
        </i>
      </div>
    </nav>
  </div>
  
  <router-outlet></router-outlet>

  <footer class="page-footer">
    <div class="container">
      <div class="row">
        <div *ngFor="let section of sections" class="col">
          <h5 class="white-text">{{section.name}}</h5>
          <ul>
            <li *ngFor="let item of section.items">
              <a class="grey-text text-lighten-3" [href]="item.url">
                {{item.name}}
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        <span class="dictio-tm">Dictio</span> © 2017
        <a 
          class="material-icons grey-text text-lighten-3 right" 
          href="https://github.com/levosos/Dictio">
          code
        </a>
      </div>
    </div>
  </footer>

</div>
