<md-toolbar color="primary">
  <span routerLink="">Dictio</span>
  <span style="flex: 1 1 auto"></span> <!-- this is to fill all the gap between these two spans -->
  <span *ngIf="tokenService.isLoggedIn()">
    <button md-icon-button [mdMenuTriggerFor]="menu">
      <md-icon>more_vert</md-icon>
    </button>
    <md-menu #menu="mdMenu">
      <button md-menu-item (click)="tokenService.logout()">
        <md-icon>close</md-icon>
        <span>Log out</span>
      </button>
    </md-menu>
    {{utils.capitalizeString(tokenService.user.username)}}
  </span>
</md-toolbar>
<router-outlet></router-outlet>
<md-card>
  <button md-button routerLink="">index</button>
  <br/>
  <button *ngIf="!tokenService.isLoggedIn()" md-button routerLink="/login">login</button>
  <button *ngIf="tokenService.isLoggedIn()" md-button (click)="tokenService.logout()">logout</button>
</md-card>