<md-toolbar color="primary">
  <span>Nouns</span>
</md-toolbar>
<add-noun-form *ngIf="tokenService.isLoggedIn()"></add-noun-form>
<md-card>
    <table>
        <thead>
            <tr>
                <th>S</th>
                <th>E</th>
                <th>F</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let noun of nouns">
                <td>{{ noun._spanish }}</td>
                <td>{{ noun._english }}</td>
                <td>{{ noun.favorite ? "F" : "NF" }}</td>
            </tr>
        </tbody>
    </table>
</md-card>