.container.dictio-font
    h2 Nouns
    .progress('*ngIf'='!members')
        .indeterminate
    div('*ngIf'='members')
        ul.collection
            li.collection-item('*ngFor'='let member of members')
                h5
                    span.grey-text.text-lighten-1 {{member.gender == Gender.Masculine ? 'el' : 'la'}} 
                    span  {{member.spanish}}
                p.grey-text.text-darken-3 {{member.english}}
                p.grey-text('*ngIf'='!member.countable') uncountable
        br
        p {{members.length}} nouns

span('*ngIf'='tokenService.isAdmin()')
    a.dictio-action-btn.waves-effect.waves-light(
        style='position: fixed; bottom: 20px; right: 20px;'
        href='#form'
    )
        i.material-icons add
    add-noun-form