<add-noun-form *ngIf="tokenService.isAdmin()"></add-noun-form>
<md-card>
    <h2>Nouns</h2>
    <table>
        <thead>
            <tr>
                <th>S</th>
                <th>E</th>
                <th>F</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let noun of nouns">
                <td>{{ noun._spanish }}</td>
                <td>{{ noun._english }}</td>
                <td>{{ noun.favorite ? "F" : "NF" }}</td>
            </tr>
        </tbody>
    </table>
</md-card>