.container
    .progress('*ngIf'='!challenge')
        .indeterminate
    .card.yellow.lighten-4.z-depth-2(
        '*ngIf'='challenge'
        '(click)'='next()'
        style='margin-top: 40px'
        )
        .card-content.dictio-font(style='font-size: 28px')
            .blue-text.text-darken-4(style='font-size: 14px') {{challenge.description}}
            div 
                | {{challenge.spanish}}
                i.material-icons.grey-text.right(style='font-size: 36px' '(click)'='help = !help; $event.stopPropagation();') {{help ? 'help' : 'help_outline'}}
            .grey-text('*ngIf'='help') {{challenge.english}}
    blockquote Click on the card to proceed