.container
    .progress('*ngIf'='!challenge')
        .indeterminate
    div('*ngIf'='challenge' style='margin-top: 20px')
        md-button-toggle-group('[(ngModel)]'='settings.language')
            md-button-toggle('[value]'='Language.Spanish') 
                span.dictio-font(style='font-size: 24px') &aacute;
            md-button-toggle('[value]'='Language.English')
                span.dictio-font(style='font-size: 24px') a
        md-button-toggle-group.right('[(ngModel)]'='settings.answer')
            md-button-toggle(
                '[value]'='false'
                style='padding-top: 6px; padding-bottom: 6px'
                )
                i.material-icons(style='font-size: 24px') help_outline
            md-button-toggle(
                '[value]'='true'
                style='padding-top: 6px; padding-bottom: 6px'
                )
                i.material-icons(style='font-size: 24px') help
        .card.yellow.lighten-4.z-depth-2(
            '(click)'='pressed()'
            style='margin-top: 10px'
            )
            .card-content.dictio-font(style='font-size: 28px')
                .blue-text.text-darken-4(style='font-size: 14px') {{challenge.description}}
                div 
                    | {{settings.language == Language.Spanish ? challenge.spanish : challenge.english}}
                .grey-text('*ngIf'='settings.answer && state == State.Answer') {{settings.language == Language.Spanish ? challenge.english : challenge.spanish}}
        blockquote Click on the card to proceed