doctype html
ul.dropdown-content#menu
    li
        a(href='#/logout')
            i.material-icons.waves-effect.waves-light close
            | Log out
.navbar-fixed
    nav
        .nav-wrapper
            a.dictio-tm.left(href='#', style='margin-left: 10px; font-size: 38px') Dictio
            i.material-icons.dropdown-button.waves-effect.waves-light.right(
                '*ngIf'='tokenService.isLoggedIn()'
                materialize='dropdown' 
                data-activates='menu'
                ) more_vert
            .input-field.right('*ngIf'='filterState === FilterState.Enabled', style='width: 150px')
                input#pattern(
                    type='search'
                    '#pattern'
                    '(input)'='filter($event.target.value)'
                    placeholder='Filter'
                )
                label.label-icon(for='pattern')
                    i.material-icons search
                i.material-icons('(click)'='pattern.value=\'\'; filter(\'\');') close