.container.dictio-font
    h2 Verbs
    .progress('*ngIf'='!members')
        .indeterminate
    div('*ngIf'='members')
        ul.collection
            li.collection-item('*ngFor'='let member of members' '(click)'='router.navigateByUrl(\'verb/\' + member.id)')
                h5 {{member.infinitive}}
                p.grey-text.text-darken-3 {{member.english}}
        br
        p {{members.length}} verbs

span('*ngIf'='tokenService.isAdmin()')
    a.dictio-action-btn.waves-effect.waves-light(
        style='position: fixed; bottom: 20px; right: 20px;'
        href='#form'
    )
        i.material-icons add
    add-verb-form