<md-card>
    <h2>Verbs</h2>
    <md-progress-bar *ngIf="!verbs" mode="indeterminate"></md-progress-bar>
    <md-input-container *ngIf="verbs">
      <input 
        md-input
        type="text"
        [(ngModel)]="filter"
        (ngModelChange)="filterChanged()"
        placeholder="Search">
    </md-input-container>
    <md-list>
        <md-list-item *ngFor="let verb of verbs">
            <p md-line><b>{{verb.infinitive}}</b></p>
            <p md-line>{{verb.english}}</p>
        </md-list-item>
    </md-list>
    <br/>
    <p *ngIf="verbs">{{verbs.length}} verbs</p>
</md-card>